.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-areas: 
        "header header header header"
        "left-sidebar main main right-sidebar"
        "left-sidebar main main right-sidebar"
        "footer footer footer footer "
    ;
    grid-gap: 10px;
}
header{
    background-color:#FE8515 ;
    grid-area: header;
    text-align: center;  
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}
main{
    background-color:#8BF10A ;
    grid-area: main;
    border-radius: 10px;
    text-align: center;  
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;

}
#left-sidebar{
    background-color:#7FC242 ;
    grid-area: left-sidebar;
    border-radius: 10px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;

}
#right-sidebar{
    background-color: #7FC242;
    grid-area: right-sidebar;
    border-radius: 10px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}
footer{
    background-color:#F57E20 ;
    grid-area: footer;
    text-align: center;
    color: white;
     display: flex;
    justify-content: center;
    align-content: center;
}